.row {
  td:first-of-type,
  td:nth-of-type(2) {
    padding-left: 15px;
    text-align: left;
  }

  &.gray {
    background-color: #E2DAD6;
  }

  &:hover {
    background-color: #f1dec6;
    cursor: pointer;
  }

  
}
